.wrapper {
  width: 100%;
  margin-top: 63px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header For Home Page */
.HeaderForHome {
  min-height: 350px;
  /* */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  /* */
  box-sizing: border-box;
}

.head_title {
  font-size: 36px;
  font-weight: 700;
}

.head_slogan {
  font-size: 20px;
}

.head_desc {
  display: flex;
  gap: 15px;
  align-items: center;
}

.HomeContent {
  display: flex;
  justify-content: center;
  background-color: white;
}
